# Ignore everything inside static/sets/ and static/collections but keep the directory itself
static/sets/*
static/collections/*
!sets/.gitkeep
!collections/.gitkeep

.idea/

config.env
photo_album.bat
users.json