{% extends "base.html" %}

{% block content %}

<h1 class="page-title">
    {% if active_tag %}
        Tag: {{ active_tag }}
    {% elif active_person %}
        Person: {{ active_person }}
    {% else %}
        Image Archive
    {% endif %}
</h1>

<div class="archive-sort">
    Sort:
    <a href="{{ url_for('archive') }}">Newest</a> |
    <!--
    <a href="{{ url_for('archive', sort='title') }}">A–Z</a> |
    -->
    <a href="{{ url_for('archive', sort='images') }}">Image Count</a>
</div>

{% if filter_type %}
    <h2>
        Showing sets for {{ filter_type }}: "{{ filter_value }}"
    </h2>
{% endif %}

<div class="sets-grid">
    {% for set in sets %}
        <a href="/set/{{ set.slug }}" class="set-card">
            {% if set.cover %}
                <div class="set-image">
                    <img src="{{ url_for('static', filename='sets/' ~ set.slug ~ '/' ~ set.cover) }}">
                </div>
            {% endif %}
            <div class="set-info">
                <div class="set-info-header">
                    <h2>{{ set.title }}</h2>
                    <div class="image-count-badge">
                        {{ set.image_count }} Images
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
