<!DOCTYPE html>
<html>
<head>
    <title>Photo Album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1 class="page-title">
        Image Archive
    </h1>

    <nav>
        <a href="/" class="{% if request.endpoint in ['archive', 'view_set', 'view_tag', 'view_person'] %}nav-active{% endif %}">Archive</a>
        <a href="{{ url_for('collections_index') }}" class="{% if request.endpoint in ['collections_index', 'view_collection'] %}nav-active{% endif %}">Collections</a>
        <a href="{{ url_for('tags_index') }}" class="{% if request.endpoint == 'tags_index' %}nav-active{% endif %}">Tags</a>
        <a href="{{ url_for('people_index') }}" class="{% if request.endpoint == 'people_index' %}nav-active{% endif %}">People</a>
        {% if require_login %}
            <a href="{{ url_for('logout') }}" class="nav-logout">Sign Out</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <!-- Back to top button -->
    <button id="back-to-top" title="Back to top">&#8679;</button>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

</body>
</html>