<!DOCTYPE html>
<html>
<head>
    <title>Photo Album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1 class="page-title">
            Image Archive
    </h1>

    <nav>
        <a href="/">Archive</a>
        <a href="{{ url_for('tags_index') }}">Tags</a>
        <a href="{{ url_for('people_index') }}">People</a>
    </nav>

    <hr>

    {% block content %}{% endblock %}

</body>
</html>