<!DOCTYPE html>
<html>
<head>
    <title>Photo Album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1 class="page-title">
        Image Archive
    </h1>

    <nav>
        <a href="/">Archive</a>
        <a href="{{ url_for('tags_index') }}">Tags</a>
        <a href="{{ url_for('people_index') }}">People</a>
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <!-- Back to top button -->
    <button id="back-to-top" title="Back to top">&#8679;</button>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

</body>
</html>