{% extends "base.html" %}

{% block content %}

<h1>People</h1>

<div class="tags-list">
    {% for letter in grouped_people|sort %}
        <div class="tag-group">
            <h2 class="tag-letter">{{ letter }}</h2>
            <div class="tag-items">
                {% for person in grouped_people[letter] %}
                    <a href="{{ url_for('view_person', person_name=person.label) }}"
                       class="tag-link">
                        {{ person.label }} ({{ person.count }})
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}